.DailyReportsDetailsPage {
	direction: rtl;
}

.backToMainPage{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
}

.backToMainPage:hover {
    cursor: pointer;
}